# exclude django:
django/
# exclude old and logs:
old/
output/
logs/
testing/
scripts/AlphaVantage/keys/keys.txt
# exclude databases:
scripts/AlphaVantage/db/
# exclude output data:
scripts/AlphaVantage/output/
